@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


:root{
    --background: #dadada;
    --color-black: #0F1111;
}
body{
    color: var(--background);
    background: #e3e6e6;
}
a, p, h1{
    cursor: pointer;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #131921;
    padding: 10px 20px;
    color: #fff;
}

.nav-location{
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
}

.nav-location h1{
    font-size: 14px;
    color: #fff;
}

.nav-search{
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 15px;
}

.nav-search-category{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #e5e5e5;
    border-radius: 2px;
}

.nav-search-input{
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.nav-search-icon{
    max-width: 41px;
    padding: 8px;
    background: #ffd64f;
    border-radius: 0 4px 4px 0;
}

.nav-flag{
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
}

.nav-text{
    margin-left: 15px;
}

.nav-text p{
    font-size: 10px;
}

.nav-text h1{
    font-size: 14px;
}

.nav-cart{
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.nav-cart h4{
    font-size: 15px;
}

.nav-bottom{
    display: flex;
    align-content: center;
    gap: 20px;
    padding: 8px 20px;
    background: #232f3e;
    color: #fff;
    font-size: 15px;
}

.nav-bottom div{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}

.header-slider ul{
    display: flex;
    overflow: hidden;
}

.header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
}

.header-slider a{
    position: absolute;
    top: 20%;
    z-index: 1000;
    padding: 5vh 1vw;
    background: #ffffff;
    color: #00000076;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.header-slider .control-next{
    right: 0;
}

.box-row{
    position: absolute;
    top: 54%;
    right: 10%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin: 20px 40px;
    color: #000000;
}

.box-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
    background: #fff;
    max-width: 24%;
    min-height: 200px;
    z-index: 1001;
}

.box-col a{
    font-size: 13px;
    text-decoration: none;
    color: #009999;
    font-weight: 500;  
}

.box-row-2{
    position: absolute;
    top: 93%;
}

.products-slider{
    background: #fff;
    margin: 420px 250px 0 183px;
    padding: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: #000000;
    position: relative;
}

.products-slider .products{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    margin-top: 10px;
    
}

.products-slider .products img{
    max-width: 200px;
    max-height: 200px;
}

.products-slider .products::-webkit-scrollbar{
    display: none;
}

.products a{
    position: absolute;
    top: 30%;
    padding: 5vh 1vw;
    background: #ffffff ;
    color: #00000076;
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    z-index: 1000;
    opacity: .7;
}

.products .arrow-next{
    right: 0;
}





